<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <h1>Customer Data</h1>
    <table class="customer">
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Surname</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Arrival Info</th>
            <th>Actions</th>
        </tr>
        {% for customer in customer %}
            <tr>
                <td>{{ customer['CustID'] }}</td>
                <td>{{ customer['FirstName'] }}</td>
                <td>{{ customer['Surname'] }}</td>
                <td>{{ customer['Email'] }}</td>
                <td>{{ customer['Phone'] }}</td>
                <td>{{ customer['ArrivalInfo'] }}</td>
                <td>
                    <a href="{{ url_for('edit_reservation', reservation_id=customer['CustID']) }}">
                        <button>Edit</button>
                    </a>
                </td>
            </tr>
        {% else %}
            <tr><td colspan="7">No customer data found</td></tr>
        {% endfor %}
    </table>

    <div class="button-container">
        <a href="{{ url_for('reservations') }}" class="button">View Reservations</a>
        <a href="/" class="button">Home</a>
    </div>
</body>
</html>
